<div class="mx-auto w-75 p-1">
    <a
      class="btn btn-warning m-2"
      data-bs-toggle="modal"
      data-bs-target="#cliente"
      >Nuevo</a
    >
    <div class="modal" id="cliente">
      <div class="modal-dialog modal-lg">
        <div class="modal-content container-fluid modalClose">
          <app-add-cliente></app-add-cliente>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">telefono</th>
          <th scope="col">email</th>
          <th scope="col">direccion</th>
          <th scope="col">Acciones</th>

        </tr>
      </thead>
      <tbody *ngFor="let item of clientes, let i=index">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{ item.nombre }}</td>
          <td>{{ item.telefono }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.direccion }}</td>
         
          <td class="d-flex">
            <a
              type="button"
              [routerLink]="['/cliente/add', item.cliente_id]"
              class="btn btn-lg btn-outline-success d-flex justify-content-center align-items-center p-1"
            >
              <span> Editar</span>
              <i class="fa-solid fa-pen-to-square" style="color: #04ae56"></i>
            </a>
            <button
              type="button"
              class="btn btn-lg btn-outline-danger d-flex justify-content-center align-items-center m-2" (click)="eliminar(item.cliente_id)"
            >
              <span class="w-10"> Eliminar </span>
              <i class="fa-solid fa-trash-can" style="color: #f50000"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  