<div class="contenedor-inventario">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="fw-bold">Gestión de Inventario</h4>
    <a class="btn btn-primary" [routerLink]="['/inventario/add']">
      <i class="fa-solid fa-plus me-1"></i> Nuevo Repuesto
    </a>
  </div>

  <div class="table-responsive shadow rounded-3">
    <table class="table table-hover align-middle table-bordered table-striped tabla-inventario">
      <thead class="table-dark">
        <tr class="text-center">
          <th>#</th>
          <th>Nombre</th>
          <th>Disponible</th>
          <th>Mínima</th>
          <th>Costo</th>
          <th>Ingreso</th>
          <th>Imagen</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of inventarios; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.nombre }}</td>
          <td>{{ item.cantidad_disponible }}</td>
          <td>{{ item.cantidad_minima }}</td>
          <td>${{ item.costo_unitario }}</td>
          <td>{{ item.fecha_ingreso }}</td>
          <td>
            <img [src]="item.imagen" alt="Imagen" class="img-thumbnail rounded" style="width: 80px; height: auto;" />
          </td>
          <td>{{ item.descripcion }}</td>
          <td class="text-center">
            <div class="btn-group" role="group">
              <a [routerLink]="['/inventario/add', item.repuesto_id]" class="btn btn-outline-success btn-sm">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="eliminar(item.repuesto_id)"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
