<div class="container mt-5">
  <h2 class="text-center mb-4 text-white">Ofrecemos Repuestos</h2>
 
  <div class="container mt-4">
    <!-- Mensaje de carga -->
    <div
      *ngIf="inventarios.length === 0; else inventariosList"
      class="text-center"
    >
      <p>Cargando inventario...</p>
    </div>

    <!-- Lista de inventarios -->
    <ng-template #inventariosList>
      <div class="row">
        <!-- Card para cada item del inventario -->
        <div class="col-md-4 mb-4" *ngFor="let item of inventarios">
          <div class="card">
            <!-- Imagen del item -->
            <img
              [src]="item.imagen"
              class="card-img-top img-servicio"
              [alt]="item.nombre"
            />

            <!-- Contenido de la card -->
            <div class="card-body">
              <h5 class="card-title">{{ item.nombre }}</h5>
              <p class="card-text">{{ item.descripcion }}</p>
              <p class="card-text">
                <small class="text-muted"
                  >Precio: $ {{ item.costo_unitario }}</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
