<form class="formulario" [formGroup]="citaForm" (ngSubmit)="guardarCita()" style="max-width: 600px; margin: auto;">

  <!-- Cliente -->
  <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 16px;">
    <mat-label>Seleccionar cliente</mat-label>
    <mat-select formControlName="cliente_id" required>
      <mat-option *ngFor="let cliente of clientes" [value]="cliente.cliente_id">
       {{ cliente.nombre }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="citaForm.get('cliente_id')?.hasError('required')">
      El cliente es obligatorio
    </mat-error>
  </mat-form-field>

  <!-- Servicio -->
  <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 16px;">
    <mat-label>Seleccionar servicio</mat-label>
    <mat-select formControlName="servicio_id" required>
      <mat-option *ngFor="let servicio of servicios" [value]="servicio.servicio_id">
        {{ servicio.descripcion }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="citaForm.get('servicio_id')?.hasError('required')">
      El servicio es obligatorio
    </mat-error>
  </mat-form-field>

  <!-- Fecha -->
  <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 16px;">
    <mat-label>Seleccionar una fecha</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="DD/MM/YYYY"
      formControlName="fecha"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-error *ngIf="citaForm.get('fecha')?.hasError('required')">
      La fecha es obligatoria
    </mat-error>
  </mat-form-field>

  <!-- Hora -->
  <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 16px;">
    <mat-label>Seleccionar hora</mat-label>
    <input matInput type="time" formControlName="hora" required />
    <mat-error *ngIf="citaForm.get('hora')?.hasError('required')">
      La hora es obligatoria
    </mat-error>
  </mat-form-field>

  <!-- Observaciones -->
  <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 16px;">
    <mat-label>Observaciones</mat-label>
    <textarea matInput formControlName="observaciones" rows="3"></textarea>
  </mat-form-field>

  <!-- Botón de enviar -->
  <button mat-raised-button color="primary" type="submit" [disabled]="citaForm.invalid">
    Agendar Cita
  </button>
</form>
