<div class="container mt-4">
    <h2 class="text-center mb-4 text-white">Contáctanos</h2>
    <p class="text-white" style="font-size: 1.2rem;">Estamos disponibles para responder a todas tus dudas:</p>
    <ul class="text-white" style="font-size: 1.2rem;">
        <!-- Redes Sociales -->
        <li>
            <strong><i class="fab fa-facebook"></i> Redes Sociales: </strong>
            <a href="https://www.facebook.com/profile.php?id=100086981881269" target="_blank" class="text-white">Facebook</a>,
            <a href="https://instagram.com/tallersangabriel" target="_blank" class="text-white">Instagram</a>
        </li>

        <!-- WhatsApp -->
        <li>
            <strong><i class="fab fa-whatsapp"></i> WhatsApp: </strong>
            <a href="https://wa.me/+593985897715" target="_blank" class="text-white">Haz clic aquí para chatear con nosotros</a>
        </li>

        <!-- Teléfono -->
        <li>
            <strong><i class="fas fa-phone-alt"></i> Teléfono: </strong> (07) 2 150 219
        </li>
    </ul>
</div>